.m {
  margin: var(--margin);
}

.mbl {
  margin-block: var(--margin);
}

.mil {
  margin-inline: var(--margin);
}

.ma {
  margin: auto;
}

.mba {
  margin-block: auto;
}

.mia {
  margin-inline: auto;
}

.mt {
  margin-top: var(--margin);
}

.p {
  padding: var(--padding);
}

.pbl {
  padding-block: var(--padding);
}

.pil {
  padding-inline: var(--padding);
}
