:root {
  --clr--primary: #c0c0ff;
  --clr--primary-dark: #606080;
  --clr--neutral: #ddd;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
  line-height: 1.5;
  overscroll-behavior: none;
}

p {
  font-weight: 400;
  max-width: 80ch;
}

a {
  text-decoration: none;
}

blockquote {
  display: block;
  border-left: 4px solid var(--clr--primary);
  padding-inline: 2rem;
  max-width: 80ch;
}

body > .hero {
  font-size: 4em;
}

.hero {
  position: relative;
  display: grid;
  place-items: center;
  height: 50vh;
  width: 100vw;
  background-size: cover;
  background-color: #000;
}

.hero h1 {
  letter-spacing: 100px;
}

.hero :where(h1, h2) {
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr)
    min(90rem, (100% - 2rem))
    minmax(1rem, 1fr);
}

.container > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

main {
  margin-bottom: 5vmin;
}

section > .hero {
  font-size: 2rem;
}

section, section > header {
  margin-bottom: 5vmin;
}

section > :where(h2, h3, h4) {
  margin-top: 4em;
}

details {
  margin-block: 2rem;
}

summary {
  font-size: 2em;
  cursor: pointer;
}

summary > * {
  display: inline;
}

details > .content {
  margin-block: 2rem;
}

.flex {
  display: flex;
  min-height: 10vmin;
  margin-block: 2rem;
}

.outline {
  outline: 1px solid red;
}

.item {
  display: grid;
  place-items: center;
  text-align: center;
}

.sideways {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.big {
  font-size: 2em;
}

.grid {
  min-height: 10vmin;
  display: grid;
  margin-block: 2rem;
}

.font-example {
  display: grid;
  height: min-content;
  grid-template-columns: min-content min-content min-content min-content;
  line-height: 1;
  font-size: 96px;
  font-weight: 400;
  position: relative;
  align-items: baseline;
  gap: 1rem;
  margin-right: 2rem;
}
.font-example :nth-child(odd) {
  font-family: Barlow;
}
.font-example :nth-child(even) {
  font-family: Inter;
}
.font-example::before {
  content: "";
  position: absolute;
  top: 18px;
  width: 5ch;
  height: 18px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}
.font-example::after {
  content: "";
  position: absolute;
  bottom: 13px;
  width: 5ch;
  border-bottom: 1px solid red;
}

.gap {
  gap: 2rem;
}

.columns {
  flex-direction: column;
}

.grow > * {
  flex-grow: 1;
}

.wrap {
  flex-wrap: wrap;
}

.bigger ul {
  font-size: 1.5em;
}

footer {
  display: grid;
  place-items: center;
}

.resize {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: auto;
  position: relative;
  resize: both;
}
